// Font import
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Base Font
$font-size-base: 14px;
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;
$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

// Font Family
$font-family-primary: 'Roboto', sans-serif;
$font-awesome: 'Fontawesome';

// Theme Colors Variables
$primary: #000000;
$primary-hover: darken($primary, 10%);
$secondary: #594230;
$secondary-hover: darken($secondary, 10%);
$success: #1abe17;
$success-hover: darken($success, 10%);
$info: #0f65cd;
$info-hover: darken($info, 10%);
$warning: #eab300;
$warning-hover: darken($warning, 10%);
$danger: #e82646;
$danger-hover: darken($danger, 10%);
$dark: #202c4b;
$light: rgba(89, 66, 48, 0.25);
$white: #fff;
$black: #000;
$purple: #4a00e5;
$pink: #e83e8c;
$blue: #339dff;
$teal: #02a8b5;
$violet: #673ab7;
$cyan: #299cdb;
$green: #2ca87f;
$orange: #fd7e14;
$indigo: #05c3fb;
$tertiary: #3c2371;
$yellow: #ffff00;
$pending: #05c3fb;
$red: #dc2626;
$skyblue: #05c3fb;
$sidebar-blue: #07396d;
$sidebar-dark: #39435f;

// Primary
$primary-100: rgba(0, 0, 0, 0.1);
$primary-200: rgba(0, 0, 0, 0.2);
$primary-300: rgba(0, 0, 0, 0.3);
$primary-400: rgba(0, 0, 0, 0.4);
$primary-500: rgba(0, 0, 0, 0.5);
$primary-600: rgba(0, 0, 0, 0.6);
$primary-700: rgba(0, 0, 0, 0.7);
$primary-800: rgba(0, 0, 0, 0.8);
$primary-900: rgba(0, 0, 0, 0.9);

// Secondary
$secondary-100: #f1fafb;
$secondary-200: #e2f5f7;
$secondary-300: #d4f0f3;
$secondary-400: #c5ebef;
$secondary-500: #b7e6ec;
$secondary-600: #a9e0e8;
$secondary-700: #9adbe4;
$secondary-800: #8cd6e0;
$secondary-900: #7dd1dc;

// Tertiary
$tertiary-100: #ece9f1;
$tertiary-200: #d8d3e3;
$tertiary-300: #c5bdd4;
$tertiary-400: #b1a7c6;
$tertiary-500: #9e91b8;
$tertiary-600: #8a7baa;
$tertiary-700: #77659c;
$tertiary-800: #634f8d;
$tertiary-900: #50397f;

// Green
$green-100: #e6f4f4;
$green-200: #cce9e8;
$green-300: #b3dedd;
$green-400: #99d3d2;
$green-500: #80c8c7;
$green-600: #66bdbb;
$green-700: #4db2b0;
$green-800: #33a7a5;
$green-900: #1a9c99;

// Blue
$blue-100: #ebf5ff;
$blue-200: #d6ebff;
$blue-300: #c2e2ff;
$blue-400: #add8ff;
$blue-500: #99ceff;
$blue-600: #85c4ff;
$blue-700: #70baff;
$blue-800: #5cb1ff;
$blue-900: #47a7ff;

// Orange
$orange-100: #fff5e7;
$orange-200: #ffebce;
$orange-300: #ffe2b6;
$orange-400: #ffd89d;
$orange-500: #ffce85;
$orange-600: #ffc46c;
$orange-700: #ffba54;
$orange-800: #ffb13b;
$orange-900: #ffa723;

// Pink
$pink-100: #fde6f8;
$pink-200: #fbccf0;
$pink-300: #f9b3e9;
$pink-400: #f799e2;
$pink-500: #f580db;
$pink-600: #f266d3;
$pink-700: #f04dcc;
$pink-800: #ee33c5;
$pink-900: #ec1abd;

// Violet
$violet-100: #f0f0ff;
$violet-200: #e1e2ff;
$violet-300: #d1d3ff;
$violet-400: #c2c5ff;
$violet-500: #b3b6ff;
$violet-600: #a4a7ff;
$violet-700: #9599ff;
$violet-800: #858aff;
$violet-900: #767cff;

// Indigo
$indigo-100: #e6f4fc;
$indigo-200: #cce9fa;
$indigo-300: #b3def7;
$indigo-400: #99d3f4;
$indigo-500: #80c9f2;
$indigo-600: #66beef;
$indigo-700: #4db3ec;
$indigo-800: #33a8e9;
$indigo-900: #1a9de7;

// Light
$light-100: #fdfdfe;
$light-200: #fbfbfd;
$light-300: #f8fafc;
$light-400: #f6f8fb;
$light-500: #f4f6fa;
$light-600: #f2f4f8;
$light-700: #f0f2f7;
$light-800: #edf1f6;
$light-900: #e9edf4;

// Gray
$gray-100: #e6e8eb;
$gray-200: #cdd0d7;
$gray-300: #b5b9c3;
$gray-400: #9ca1af;
$gray-500: #838a9b;
$gray-600: #6a7287;
$gray-700: #515b73;
$gray-800: #39435f;
$gray-900: #202c4b;

// Info
$info-100: #e7f1fc;
$info-200: #cfe2fa;
$info-300: #b8d4f7;
$info-400: #a0c6f4;
$info-500: #88b8f2;
$info-600: #70a9ef;
$info-700: #589bec;
$info-800: #418de9;
$info-900: #1170e4;

// Success
$success-100: #e8f9e8;
$success-200: #d1f2d1;
$success-300: #baecb9;
$success-400: #a3e5a2;
$success-500: #8ddf8b;
$success-600: #76d874;
$success-700: #5fd25d;
$success-800: #48cb45;
$success-900: #1abe17;

// Danger
$danger-100: #fde9ed;
$danger-200: #fad4da;
$danger-300: #f8bec8;
$danger-400: #f6a8b5;
$danger-500: #f493a3;
$danger-600: #f17d90;
$danger-700: #ef677e;
$danger-800: #ed516b;
$danger-900: #e82646;

// Warning
$warning-100: #fef8ea;
$warning-200: #fdf1d6;
$warning-300: #fde9c1;
$warning-400: #fce2ad;
$warning-500: #fbdb98;
$warning-600: #fad483;
$warning-700: #f9cd6f;
$warning-800: #f9c55a;
$warning-900: #f7b731;

// Purple
$purple-100: #f3edff;
$purple-200: #dbccfa;
$purple-300: #c9b3f7;
$purple-400: #b799f5;
$purple-500: #a580f2;
$purple-600: #9266ef;
$purple-700: #804ded;
$purple-800: #6e33ea;
$purple-900: #5c1ae8;

// Pending
$pending-100: #e6f9ff;
$pending-200: #cdf3fe;
$pending-300: #b4edfe;
$pending-400: #9be7fd;
$pending-500: #82e1fd;
$pending-600: #69dbfd;
$pending-700: #50d5fc;
$pending-800: #37cffc;
$pending-900: #05c3fb;

// Skyblue
$skyblue-100: #e6f9ff;
$skyblue-200: #cdf3fe;
$skyblue-300: #b4edfe;
$skyblue-400: #9be7fd;
$skyblue-500: #82e1fd;
$skyblue-600: #69dbfd;
$skyblue-700: #50d5fc;
$skyblue-800: #37cffc;
$skyblue-900: #05c3fb;

$dark-100: #efeff2;
$dark-200: #b9b7c080;
$dark-300: #b9b7c0;
$dark-400: #5b576bb2;
$dark-500: #5b576b;
$dark-600: #322d46;
$dark-700: #1b1632;
$dark-800: #131022;
$dark-900: #0f0c1c;

[data-theme='dark'] {
  $white: #05c3fb;
  $title-color: #fff;
  $gray-900: #fff;
  $dark-100: #fff;
}

$colors: (
  'blue': $blue,
  'indigo': $indigo,
  'purple': $purple,
  'pink': $pink,
  'orange': $orange,
  'yellow': $yellow,
  'green': $green,
  'teal': $teal,
  'cyan': $cyan,
  'white': $white,
  'gray': $gray-600,
  'gray-dark': $gray-800,
);

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'dark': $dark,
  'light': $light,
  'black': $black,
  'purple': $purple,
  'yellow': $yellow,
  'teal': $teal,
);

$text-color: #60564e;
$title-color: #403c39;
$sub-title: #60564e;
$body-bg: #fff;
$text-muted: #7d746d;
$default-background: #f7f8f9;
$black-bg: #141432;
$input-bg: #524840;
$form-control-bg: #ffffff;

// Social Icons Colors
$facebook: #3b5998;
$twitter: #00acee;
$google: #dd4b39;
$telegram: #0088cc;
$linkedin: #0e76a8;
$youtube: #c4302b;
$instagram: #3f729b;
$reddit: #c6c6c6;
$pinterest: #cc2127;
$vk: #2b587a;
$rss: #ee802f;
$skype: #00aff0;
$xing: #126567;
$tumblr: #34526f;
$email: #6567a5;
$delicious: #205cc0;
$stumbleupon: #f74425;
$digg: #191919;
$blogger: #fc4f08;
$flickr: #ff0084;
$vimeo: #86c9ef;
$yahoo: #720e9e;
$gplus: #dd4b39;
$appstore: #000;

// Gradient Variables
$primary-transparent: rgba(0, 0, 0, 0.25);
$secondary-transparent: rgba(89, 66, 48, 0.25);
$success-transparent: #e8f9e8;
$warning-transparent: #fef8ea;
$danger-transparent: #fde9ed;
$info-transparent: #e7f1fc;
$pink-transparent: #ffa795;
$teal-transparent: #e6f9ff;
$orange-gradient: linear-gradient(to right, $orange 0%, 100%);
$purple-gradient: linear-gradient(to right, $purple 0%, #9b25b7 100%);
$light-transparent: #d1d6de;
$dark-transparent: #f3f6ff;
$primary-gradient: linear-gradient(180deg, #f3f6ff 0%, #ffffff 100%);
$secondary-gradient: linear-gradient(180deg, #e8fcff 0%, #ffffff 100%);
$success-gradient: linear-gradient(180deg, #e8f9e8 0%, #ffffff 100%);
$warning-gradient: linear-gradient(180deg, #fef8ea 0%, #ffffff 100%);
$danger-gradient: linear-gradient(180deg, #fde9ed 0%, #ffffff 100%);
$info-gradient: linear-gradient(180deg, #e7f1fc 0%, #ffffff 100%);
$pink-gradient: linear-gradient(180deg, #ffa795 0%, #ffffff 100%);
$teal-gradient: linear-gradient(180deg, #e6f9ff 0%, #ffffff 100%);
$light-gradient: linear-gradient(180deg, #d1d6de 0%, #ffffff 100%);
$dark-gradient: linear-gradient(180deg, #f3f6ff 0%, #ffffff 100%);

// Style Anchor Elements
$link-color: $primary;
$link-decoration: none;
$link-shade-percentage: 20%;
$link-hover-color: darken($link-color, 10%);
$link-hover-decoration: null;
$spacer: 1rem;

// Border
$border-width: 1px;
$border-style: solid;
$border-color: $light-900;
$default-border: $gray-400;
$input-border: $light-900;

// Border Radius
$border-radius: 4px;
$border-radius-sm: 3px;
$border-radius-lg: 5px;
$border-radius-xl: 8px;
$border-radius-xxl: 12px;
$rounded: 50%;
$rounded-pill: 1.5rem;

// Box Shadow
$box-shadow: 0px 4px 54px 0px #e0e0e040;
$box-shadow-sm: 0px 4.4px 12px -1px rgba(222, 222, 222, 0.36);
$box-shadow-md: 0px 4px 9px -1px rgba(19, 16, 34, 0.03),
  0px 4.4px 20px -1px rgba(19, 16, 34, 0.05);
$box-shadow-lg: 0px 4px 13px -2px rgba(19, 16, 34, 0.06);

// Font Size
$font-size-8: 8px;
$font-size-9: 9px;
$font-size-10: 10px;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-17: 17px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-34: 34px;
$font-size-36: 36px;
$font-size-38: 38px;
$font-size-40: 40px;
$font-size-42: 42px;
$font-size-50: 50px;
$font-size-54: 54px;
$font-size-60: 60px;

$h1-font-size: 28px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$h4-font-size: 18px;
$h5-font-size: 16px;
$h6-font-size: 14px;
